.card{
    color: black;
    background-color: bisque;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid red;
    border-radius: 30px; 
    /* border radius soften the corner of border */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    /* padding-top: 100px;
    padding-right: 100px; */
}
/* Margin - space outside the element */
/* border - space between margin and padding */
/* Padding - space inside the element*/