
button{
    color: #0f1419;
    background: white;
    border:2px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}