body{
    background-color: beige;
    color: rgb(245, 242, 237);
    font-family: 'Rammetto One',cursive;
}
.ad{
    background: rgb(133, 121, 242);
    text-align: center;
    border: 5px solid black;
    
}
.cta{
    color: rgb(0, 0, 0);
    border: 2px solid palegreen;
    padding: 5px 10px;
    background: brown;
}