body{
    background-color: black;
    display: flex;
    justify-content:center;
}

.header{
    color: white;
    text-align: center;
    margin: 50px;
}

.result{
    color: white;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 10px;
}
.result.won{
    background-color: rgb(61, 255, 47);
}
.result.lost{
    background-color: red;
}

.Techstack{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center; 
    text-align: center;
    margin: 0 auto;
    gap: 4px;
    button{
        padding: 15px;
        border-radius: 3px;
        
    }
}
.chip{
    position: relative;
    overflow: hidden;
}
.chip.lost::before{
    content: "💀";
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.7);
    font-size: 0.85rem;

    z-index: 1;
}

.word{
    color: white;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 40px 40px 20px 40px;
    padding: 10px;
}

.word > span{
    height: 40px;
    width: 40px;
    background-color: rgb(83, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    border-radius: 3px;
}

.keyboard{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width:450px;
    height: auto;
    justify-content: center;
    gap: 8px;
}

.keyboard > button{
    height: 40px;
    width: 40px;
    background-color: rgb(230, 161, 11);
    cursor: pointer;
    border-radius: 3px;
}

.keyboard >button.correct{
    background-color: #10A95B;
}
.keyboard >button.wrong{
    background-color: #EC5D49;
}

.newgame {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newgame > button{
    margin: 40px;
    height: 40px;
    width: 180px;
    background-color: skyblue;
    border-radius: 5px;
}

