body{
    background-color: black;
    display: flex;
    justify-content:center;
}

.header{
    color: white;
    text-align: center;
    margin: 50px;
}

.result{
    background-color: red;
    color: white;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 50px;
    /* border-radius: 50px; */
}

.Techstack{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center; 
    text-align: center;
    margin: 0 auto;
    button{
        padding: 15px;
    }
}