body{
    background-color: color-mix(in srgb, blue 50%, beige 50%);
    align-items: center;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
input:not([type="radio"],[type="checkbox"]){
    height: 30px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
}
button{
    width: 300px;
    height: 30px;
    border-radius: 10px;
}
.fieldset{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.fieldset label {
    display: flex;
    align-items: center;
    /* gap: 8px; */
}